<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
	
    <body bgcolor= #ffd881>

</head>
<body>



<h1> ¿Qué es la Agenda 2030?</h1>

<p>Hablamos a menudo sobre los Objetivos de Desarrollo Sostenible (ODS) y de lo que suponen para nuestra civilización.
     Sin embargo algunos de vosotros nos habéis preguntado sobre la Agenda 2030 y si es lo mismo que los ODS.</p>


<body bgcolor= #fff>

    <img width="800px" alt="ayuda de la EcoGreen" src=https://s3.amazonaws.com/libapps/accounts/2130/images/agenda2030paradesarrollosostenible-14.png

<br>

<h1>Objetivo 1: Poner fin a la pobreza en todas sus formas en todo el mundo
</h1>
<img width="800px" alt="ayuda de la EcoGreen" src=https://pbs.twimg.com/media/DvWMWxmWoAA-T4w?format=jpg&name=4096x4096

<p>A nivel mundial, el número de personas que viven en situación de extrema pobreza disminuyó desde un 36 % en 1990 hasta un 10 % en 2015. 
No obstante, el ritmo al que se produce este cambio está disminuyendo, y la crisis de la COVID-19 pone en riesgo décadas de progreso en la lucha contra la pobreza. Una nueva investigación publicada por el Instituto Mundial de Investigaciones de Economía del Desarrollo de la Universidad de las Naciones Unidas advierte de que las consecuencias económicas de la pandemia mundial podrían incrementar la pobreza en todo el mundo hasta llegar a afectar a 500 millones de personas más, o lo que es lo mismo, a un 8 % más de la población total mundial.
Esta sería la primera vez que la pobreza aumente en todo el mundo en 30 años, desde 1990.</p>
<p>Más de 700 millones de personas, o el 10 % de la población mundial, aún vive en situación de extrema pobreza a día de hoy, 
con dificultades para satisfacer las necesidades más básicas, como la salud, la educación y el acceso a agua y saneamiento, por nombrar algunas.
La mayoría de las personas que viven con menos de 1,90 dólares al día viven en el África subsahariana. En todo el mundo, 
los índices de pobreza en las áreas rurales son del 17,2 %; más del triple de los mismos índices para las áreas urbanas.</p>




 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

</body>
</html>

<div class="container"> <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ecogreen-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>
